html{
  scroll-snap-type: y mandatory;
}

body {
  scrollbar-width: none;
}

.app_logo{
  height: 12vh;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(50, 47, 47);
}

.app_top{
  text-align: center;
  color: white;
  margin: -100px;
}

.app_videos{
  position: relative;
  background-color: white;
  height: 75vh;
  width: 25%;
  border-radius: 10px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /*this worked below options didnt*/ 
}


/* Hide scrollbar for Chrome, Safari and Opera*/
.app_videos::—webkit-scrollbar {
display: none;
}


Hide scrollbar for IE, Edge and Firefox
.app_videos {
  -ms-overflow-style: none; /*edge and IE*/
  scrollbar-width: none; /*firefox*/
}